body {
    margin-top: 20px;
    overflow-x: hidden;
    background-color: #1C2D4B;
}

.title {
    color: #fff;
}

input, input:before, input:after {
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
    border-radius: 0 !important;
    outline: none !important;
}

.chat-box::-webkit-scrollbar {
    width: 7px !important;
}

.chat-box::-webkit-scrollbar-track {
    background: #242A33 !important;
}

.chat-box::-webkit-scrollbar-thumb {
    background-color: #4F555C !important;
    border-radius: 20px !important;
}

input:active, input:hover, input:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: none !important;
}

.name {
    color: #fff;
}

.row > * {
    padding: 0 !important;
}

.chat-box {
    overflow-y: scroll;
    height: 70vh;
    padding: 0 20px;
}

.chat-search-box {
    -webkit-border-radius: 3px 0 0 0;
    -moz-border-radius: 3px 0 0 0;
    border-radius: 3px 0 0 0;
    padding: .75rem 1rem;
}

.chat-search-box .input-group .input-group-btn .btn {
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    margin: 0;

}

.form-control {
    background-color: #17212B !important;
    border: none !important;
    color: #fff !important;
    padding: 0.975rem 0.75rem;
    outline: none !important;
}

.chat-search-box .input-group .input-group-btn .btn i {
    font-size: 1.2rem;
    line-height: 100%;
    vertical-align: middle;
}

.users-container {
    position: relative;
    padding: 1rem 0;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #17212B;
}

.users {
    padding: 0;
}

.users .person {
    position: relative;
    width: 100%;
    padding: 10px 1rem;
    cursor: pointer;
}

.users .person:hover {
    background-color: #202B36;
}

.users .person.active-user {
    background-color: #2B5278;
}

.users .person .user {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

.users .person .user img {
    width: 48px;
    height: 48px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.users .person .user .status {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: #e6ecf3;
    position: absolute;
    top: 0;
    right: 0;
}

.users .person .user .status.online {
    background: #9ec94a;
}

.users .person .user .status.offline {
    background: #c4d2e2;
}

.users .person .user .status.away {
    background: #f9be52;
}

.users .person .user .status.busy {
    background: #fd7274;
}

.users .person p.name-time {
    font-weight: 600;
    font-size: .85rem;
    display: inline-block;
}

.users .person p.name-time .time {
    font-weight: 400;
    font-size: .7rem;
    text-align: right;
    color: #8796af;
}

@media (max-width: 767px) {
    .users .person .user img {
        width: 30px;
        height: 30px;
    }
}

.selected-user {
    width: 100%;
    padding: 0 15px;
    min-height: 64px;
    line-height: 64px;
    -webkit-border-radius: 0 3px 0 0;
    -moz-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0;
    background-color: #17212B;
}

.selected-user span {
    line-height: 100%;
}

.selected-user span.name {
    font-weight: 700;
}

.chat-container {
    position: relative;
}

.chat-container li.chat-left .chat-text {
    background-color: #182533;
    color: #fff;
}

.chat-container li.chat-right .chat-text {
    background-color: #2B5278;
    color: #fff;
}

.chat-container li.chat-left,
.chat-container li.chat-right {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-bottom: 40px;
    align-items: center;
}

.chat-container li img {
    width: 48px;
    height: 48px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.chat-container li .chat-avatar {
    margin-right: 20px;
}

.chat-container li.chat-right {
    flex-direction: row-reverse;
}

.chat-container li.chat-right > .chat-avatar {
    margin-left: 20px;
    margin-right: 0;
}

.chat-container li .chat-name {
    font-size: .75rem;
    color: #999999;
    text-align: center;
}

.chat-container li .chat-text {
    padding: 0.4rem 0.6rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #ffffff;
    font-weight: 300;
    line-height: 150%;
    position: relative;
    max-width: 83.666667%;
}

.chat-container li .chat-text:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 14px;
    left: -20px;
    border: 10px solid;
    border-color: transparent #182533 transparent transparent;
}

.chat-container li.chat-right > .chat-text {
    text-align: left;
}

.chat-container li.chat-right > .chat-text:before {
    right: -20px;
    border-color: transparent transparent transparent #2B5278;
    left: inherit;
}

.chat-container li .chat-hour {
    padding: 0;
    margin-bottom: 10px;
    font-size: .75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 15px;
}

.chat-container li .chat-hour > span {
    font-size: 16px;
    color: #9ec94a;
}

.chat-container li.chat-right > .chat-hour {
    margin: 0 15px 0 0;
}

@media (max-width: 767px) {
    .chat-container li.chat-left,
    .chat-container li.chat-right {
        margin-bottom: 30px;
    }

    .chat-container li img {
        width: 32px;
        height: 32px;
    }

    .chat-container li.chat-left .chat-avatar {
        margin: 0 0 5px 0;

    }

    .chat-container li.chat-right .chat-avatar {
        order: -1;
        margin: 0 0 5px 0;

    }



    .chat-container li .chat-text {
        font-size: .8rem;
        padding: 0.1rem 0.3rem;
    }

    .chat-container li.chat-right .chat-text {
        margin-right: 8px;
    }

    .chat-container li.chat-left .chat-text {
        margin-left: 8px;
    }
    .chat-container li .chat-text:before{
        display: none;
    }

    .name-time{
        margin-bottom: 0;
    }
    .person{
        padding-right: 0!important;
    }

}

.chat-form {
    padding: 15px;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.card {
    border: 0;
    background: #0E1621;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: 2rem;
    box-shadow: none;
    min-width: 100%;
}
